DATABASE_URL="postgresql://postgres:nudillos1@localhost:5432/ecommerce_db"
JWT_SECRET="cambia-esto-por-una-clave-larga-y-random"
JWT_REFRESH_SECRET="otra-clave-diferente-tambien-larga"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3000
FRONTEND_URL="http://localhost:4200"
